body {
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
button {
  display: block;
  margin: 0 auto;
  border: 1px solid #b80257;
  background: white;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px 10px;
  transform: all 150ms ease-in-out;
  width: 200px;
}
button:hover {
  background: #c471f5;
}
.container {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  border: 3px solid #b80257;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}
img {
  max-width: 100%;
}
.dark-button {
  font: 10px;
  background: black;
  color: white;
  padding: 5 8px;
}
.game-intro-pic {
  border-radius: 10px;
  transition: transform 150ms ease-in-out, filter 2000ms ease-in;
}
.game-intro-pic:hover {
  filter: contrast(80%);
  transform: scale(1.1);
}
p {
  font-size: 20px;
  line-height: 1.5;
}
.wiki-link {
  text-decoration: none;
}
.grid {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.grid img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}
.grid img:hover {
  transform: scale(2);
}
.dark {
  background: black;
  color: white;
}
.dark .container {
  background: rgba(255, 255, 255, 0.1);
}
.dark a {
  color: #dd356e;
}
